.news__dropdown-container {
  display: flex;
  margin-bottom: 38px;
}

.news__dropdown-container--large {
  width: 240px;
}

.news__card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.news__card-container .empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #999;
}

.news__card-container a {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

.news__pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 76px;
}

/*md*/
@media (max-width: 960px) {

  .news__dropdown-container--large {
    width: 100%;
  }

  .news__card-container a {
    width: 100%;
  }

  .news__pagination-container {
    margin-top: 10px;
  }

  .news__pagination-container > ul {
    padding: 0;
  }
}
